.representations__content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.representations__titre {
    text-align: center;
    background-color: #1d1d1f;
    color: #fbfbfd ;
    padding: 25px 20px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.representation__card:nth-child(1n){
    background-color: #1d1d1f;
    color: #fbfbfd ;
    padding: 35px 20px;
}
.representation__card:nth-child(2n){
    background-color: #fbfbfd;
    color: #1d1d1f;
    padding: 35px 20px;
}


.representation-date {
    margin-top: 10px;
    margin-bottom: 35px;
    color: #79797e;
}
.representation-button {
    padding: 8px 0;
}

.block-ticket-price {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

