.representations__content {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

.representation__card{
    background-color: rgb(214, 197, 199);
    padding: 25px 20px;
    margin-top: 10px;
}

.representation-date {
    margin-top: 5px;
    margin-bottom: 25px;
}

.block-ticket-price {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}