.header__content{
    height: 40vh;
    background-image: url('./img/backgroundHeader.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

.titre-presentation {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 9px 20px;
    color: #fbfbfd;
    width: 100%;

}

.texte-presentation {
    padding: 15px;
    color: #86868b;
    text-align: center;
}