.header__content{
    height: 40vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(28, 28, 28, 0.3)), url('./img/backgroundHeader.png') no-repeat center center / cover
    
}

.presentation__content {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

.titre-presentation {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 9px 20px;
    color: #fbfbfd;
    width: 100%;
    text-shadow: 3px 5px 2px #474747;

}

.texte-presentation {
    padding: 15px;
    color: #e4e4e7e0;
    text-align: center;
}

@media (min-width: 850px) {
    .header__content {
        height: 50vh;
        background-repeat: repeat;
        background-size: contain;
      }
}

