.artisteCard__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 30px 20px;
}

.block_img-name-author{
  display: flex;
  flex-direction: column;
}

.artiste-picture{
  max-height: 100%;
  max-width: 100%;
}

.block_name-author {
  margin: 15px 0;
  padding-bottom: 11px;
  border-bottom: 2px solid red;
}

.artiste-description {
  margin: 20px 0;
}

.artisteCard__content_notVisible {
  display: none;
}

.buttonInvisible {
  display: none;
}

.block-description-button {
  display: flex;
  justify-content: space-between;
}

.buttonNextVisible {
  display: block;
}

.buttonPreviousVisible {
  display: block;
}
