
button {
    display: block;
    padding: 8px;
    background-color: white;
    color: red;
    border: 1px solid white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    background: white;
    transition-property: all;
    transition-duration: 0.3s;
}

button:hover {
  color: white;
  background-color: red;
}

